
@{
    ViewBag.Title = Resources.Resource.AddItem;
}

<h2>@Resources.Resource.AddItem</h2>
@ViewBag.Message
@using (Html.BeginForm("Index", "Item", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <label>@Resources.Resource.Text: (ru)</label>
    <input required type="text" name="textRu"/>
    <br/>
    <label>@Resources.Resource.Text: (en)</label>
    <input required type="text" name="textEn" />
    <br />
    <label>@Resources.Resource.Cost: </label>
    <input required type="number" name="cost" />
    <br/>
    <label>@Resources.Resource.Image: </label>
    <input required="" type="file" name="image"/>
    <br/>
    <input  type="submit" value="Save"/>
}