
@{
    ViewBag.Title = Resources.Resource.AddItem;
}

<style>
    .preview {
        background-color: darkgrey;
        border-radius: 10px;
        width: 50%;
    }
</style>


<div class="container">
    <h2>@Resources.Resource.AddItem</h2>
    @ViewBag.Message

    <form action="/Item/Index" method="post" enctype="multipart/form-data" class="preview">
        <div class="row">
            <div class="col-lg-4">
                <label>@Resources.Resource.Text: (ru)</label>
            </div>
            <div class="col-lg-8">
                <input required class="k-textbox" type="text" name="textRu"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>@Resources.Resource.Text: (en)</label>
            </div>
            <div class="col-lg-8">
                <input required class="k-textbox" type="text" name="textEn"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>@Resources.Resource.Cost: </label>
            </div>
            <div class="col-lg-8">
                <input required class="k-textbox" type="number" name="cost" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>@Resources.Resource.Image: </label>
            </div>
            <div class="col-lg-8">
                @(Html.Kendo().Upload()
                      .Name("files")
                      .HtmlAttributes(new {aria_label = "files"})
                      )
            </div>
        </div>
        <input type="submit" value="@Resources.Resource.Add" class="k-button " />
    </form>
        
</div>
