@using System.Data.Entity
@using Microsoft.AspNet.Identity
@using OnlineShopKendo.Models
@model OnlineShopKendo.Models.ApplicationContext
@{
    ViewBag.Title = Resources.Resource.PersonalArea;
}

<h2>@Resources.Resource.PersonalArea</h2>





<h2>@Resources.Resource.YourOrder</h2>

@{
    List<Item> items = new List<Item>();
    string userId = User.Identity.GetUserId();
    var orders = Model.Orders.Where(i => i.UserId == userId).Include(i=>i.Items);

    foreach (var order in orders.ToList())
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <p>@Resources.Resource.OrderNumber @order.Id. @Resources.Resource.TotalCost: @order.Cost </p>
                
                @foreach (var item in order.Items)
                {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Id @Resources.Resource.Item @item.Id</p>
                        <p>@Resources.Resource.Text @Resources.Resource.Item @item.Descriptions.First(i => i.Language.Code == Request.Cookies["lang"].Value).Text</p>
                        <p>@Resources.Resource.Cost @Resources.Resource.Item @item.Cost</p>
                        <img src="@Url.Action("GetImage", "Item", new {item.Id})" style="width: 100px;">
                    </div>
                </div>               
                }
            </div>
        </div>
        <br/>
    }
}