@using Microsoft.AspNet.Identity
@using OnlineShopKendo.Models
@model List<Order>
@{
    ViewBag.Title = Resources.Resource.PersonalArea;
}

<div class="container">  
    <h2>@Resources.Resource.PersonalArea</h2>
    <h2>@Resources.Resource.YourOrder</h2>
    @{
        List<Item> items = new List<Item>();
        var orders = Model.Where(i => i.User.Id==User.Identity.GetUserId());
        foreach (var order in orders)
        {
                 <ul class="list-group">      
                     <li class="list-group-item list-group-item-info">@Resources.Resource.OrderNumber @order.OrderId. @Resources.Resource.TotalCost: @order.Cost</li>  
                     @foreach (var orderItem in order.OrderItems)
                    {
                        <li class="list-group-item">
                            <p>Id @Resources.Resource.Item : @orderItem.ItemId </p>
                            <p> @Resources.Resource.Text @Resources.Resource.Item : @orderItem.Item.Descriptions.First(i => i.Language.Code == Request.Cookies["lang"].Value).Text </p>
                            <p> @Resources.Resource.Cost @Resources.Resource.Item : @orderItem.Item.Cost </p>
                            <p> @Resources.Resource.Count @Resources.Resource.Item : @orderItem.Count </p>
                            <img src="@Url.Action("GetImage", "Item", new {orderItem.Item.Id})" style="width: 100px;">                          
                        </li>                            
                    }
                 </ul>
            <br/>
        }
    }
</div>
