@using Microsoft.AspNet.Identity
@using OnlineShopKendo.Models
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="~/Content/carousel.css" rel="stylesheet">
        
        

        @*<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.blue.min.css" />*@
        
        
        

        <link href="~/Content/all.css" rel="stylesheet" type="text/css"/>
        
        

        <link href="@Url.Content("~/Content/box-sizing-fixes.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        <script src="http://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="~/Scripts/holder.min.js"></script>
        
        @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
     
    
    <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">*@
        
        

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
      
        
        

    </head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @{
        var db = new ApplicationContext();
        int permission = 0;
        if (User.Identity.IsAuthenticated)
        {
            var idRole = db.Users.ToList().First(i => i.Id == User.Identity.GetUserId()).Roles.First().RoleId;
            permission = db.ApplicationRoles.First(i => i.Id == idRole).Permission;
        }
                <a class="navbar-brand" href="/@db.Menus.First().Controller/@db.Menus.First().Action">@db.Menus.First().MenuLanguages.First(i => i.Language.Code == Request.Cookies["lang"].Value).Text</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                    @{
                       
                        foreach (var menu in db.Menus.OrderBy(i=>i.Id).Skip(1).Where(i => i.Permission <= permission).ToList())
                        {
                        <li class="nav-item">
                            <a class="nav-link" href="/@menu.Controller/@menu.Action">@menu.MenuLanguages.First(i => i.Language.Code == Request.Cookies["lang"].Value).Text</a>
                        </li>
                        }
                     }
                    </ul>
                    @Html.Partial("LoginPartial")
                </div>
            }
</nav>
@RenderBody()
</body>
</html>

