@using Microsoft.AspNet.Identity
@using OnlineShopKendo.Models
<!DOCTYPE html>
<html> 
    <head>
        <title>@ViewBag.Title - My Telerik MVC Application</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />

        @* Content-box fixes as per http://docs.telerik.com/kendo-ui/third-party/using-kendo-with-twitter-bootstrap article  *@
        <link href="@Url.Content("~/Content/box-sizing-fixes.css")" rel="stylesheet" type="text/css" />

        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        
       

        <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        
        

        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
        <meta name="viewport" content="width=device-width">
<script type="text/javascript">
    var appInsights=window.appInsights||function(config){
        function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
    }({
        instrumentationKey:"06c34457-885c-45db-b813-6f60dddeeb39"
    });
        
    window.appInsights=appInsights;
    appInsights.trackPageView();
</script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var db = new ApplicationContext();
                        int permission = 0;
                        if (User.Identity.IsAuthenticated)
                        {
                            var idRole = db.Users.ToList().First(i => i.Id == User.Identity.GetUserId()).Roles.First().RoleId;
                            permission = db.ApplicationRoles.First(i => i.Id == idRole).Permission;
                        }
                        foreach (var menu in db.Menus.Where(i => i.Permission <= permission).ToList())
                        {
                            <li>@Html.ActionLink(menu.MenuLanguages.First(i =>
                                {
                                    var requestCookie = Request.Cookies["lang"];
                                    return requestCookie != null && i.Language.Code == requestCookie.Value;
                                }).Text, menu.Action, menu.Controller)</li>
                        }
                    }
                </ul>
                @Html.Partial("LoginPartial")
            </div>
        </div>
    </div>
<div class="container-fluid">
    @RenderBody()
    <hr/>
</div>






<script>
    $(document).ready(function() {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });
    });

    function onclick(e) {
        $("#responsive-panel").getKendoResponsivePanel().toggle();
    }
</script>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
