@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
  
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Resource.ChooseLanguage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Русский", "ChangeCulture", "Home",
                            new { lang = "ru" }, null)
                    </li>
                    <li>@Html.ActionLink("English", "ChangeCulture", "Home",
                            new {lang = "en"}, null)</li>

                </ul>
            </li>
           
            <li>
                @Html.ActionLink(Resources.Resource.Hello+" " + User.Identity.GetUserName(), "PersonalArea", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @class= "glyphicon glyphicon-user" })
            </li>
            
            <li><a class="glyphicon glyphicon-log-out"  href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.LogOut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Resource.ChooseLanguage <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Русский", "ChangeCulture", "Home",
                        new { lang = "ru" }, null)
                </li>
                <li>
                    @Html.ActionLink("English", "ChangeCulture", "Home",
                        new { lang = "en" }, null)
            </li>

        </ul>
    </li>
        <li>@Html.ActionLink(Resources.Resource.Registration, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "glyphicon glyphicon-registration-mark"})</li>
        <li>@Html.ActionLink(Resources.Resource.Authorization, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "glyphicon glyphicon-log-in"})</li>

    </ul>
}


