@model OnlineShopKendo.Models.LoginModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="container">
    <h2>@Resources.Resource.Authorization</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
            <p>
                <label>@Resources.LoginModel.Login</label><br/>
                @Html.EditorFor(x => x.Login)
            </p>
            <p>
                <label>@Resources.LoginModel.Password</label><br/>
                @Html.EditorFor(x => x.Password)
            </p>
            <p><button type="submit">@Resources.Resource.Authorization</button>
            </p>
        </div>
    }
</div>